@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;0,900;1,700;1,900&display=swap');

html, body{
    height: 100vh;
}

body{
    height: 100vh;
    font-family: 'Merriweather', serif;
    margin: 0;
}

/* Splash Screen */



#splashscreen{
    z-index: 2;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    position:relative;
    position: fixed;
    top:0;
    left:0;
    bottom:0;
    width:100%
}

#bg-video{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -9999;
}

#welcome{
    position: absolute;
    margin-top: -15%;
    font-size: 3rem;
    filter: drop-shadow(1px 1px 4px grey);
    animation: opacityReveal 2s;

}

.enter_link{
    margin-top: 20%;
    position: absolute;
    font-family: 'Merriweather', serif;
    width: 10%;
    min-width : 100px;
    height: 5%;
    min-height : 33px;
    font-weight: 500;
    transform: scale(1.02);
    transition: all .2s ease-in-out;
    border-style: none;
    border-radius: 4px;
    animation: opacityReveal 6s;
}

.enter_link:hover{

    background-color: beige;
    position: absolute;
    font-weight: 900;
    transform: scale(1.05);
    transition: all .2s ease-in-out;
}

#find{
    margin-bottom: 8%;
    position: absolute;
    font-size: 2rem;
    animation: opacityReveal 4s;
}

#beware{
    position: absolute;
    margin-bottom: 2%;
    animation: opacityReveal 6s;
}

.niveau{
    position: absolute;
    margin-bottom: -10%;
}

.diff{
    position: absolute;
    margin-bottom: -5%;
    animation: opacityReveal 6s;
}

/* Main Game */

.flexContainer{
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    position: relative;
}

#countryToGuess{
    font-weight:900;
    color: white;
    font-size:2.5rem;
    filter: drop-shadow(1px 1px 4px grey);
    transition: all .2s ease-in-out;
    position: absolute;
    margin-top: -15%;
}

#score{
    position: absolute;
    font-weight:700;
    color: white;
    font-size:1.5rem;
    transition: all .2s ease-in-out;
    margin-top: -25%;
}

#highscore{
    margin-top: -33%;
    position: absolute;
    font-weight:700;
    color: white;
    transition: all .2s ease-in-out;
    filter: drop-shadow(1px 1px 1px gold);
}

/* Buttons cities */

.buttonsContainer{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}

.lowerButtons > button {
    margin: 1vh;
    border-radius: 4px;
    border-style: none;
}

.upperButtons > button {
    margin: 1vh;
    border-radius: 4px;
    border-style: none;
}

.btn{
    font-family: 'Merriweather', serif;
    width : 14vw;
    min-width : 100px;
    height : 6vh;
    min-height : 33px;
    filter: drop-shadow(1px 1px 4px grey);
}

.btn2{
    font-family: 'Merriweather', serif;
    width : 14vw;
    min-width : 100px;
    height : 6vh;
    min-height : 33px;
    filter: drop-shadow(1px 1px 4px grey);
}

.btn:hover{
    font-weight: 900;
    transform: scale(1.02);
    transition: all .2s ease-in-out;
    background-color: beige;
}

.btnWin{
    font-family: 'Merriweather', serif;
    width : 14vw;
    min-width : 100px;
    height : 6vh;
    min-height : 33px;
    font-weight: 900;
    background-color: #9EFF01;
    transition: all .2s ease-in-out;
    transform: scale(1.02);
    filter: drop-shadow(1px 1px 4px grey);
}

.btnLose{
    font-family: 'Merriweather', serif;
    width : 14vw;
    min-width : 100px;
    height : 6vh;
    min-height : 33px;
    font-weight: 900;
    background-color: #EB604D;
    transition: all .2s ease-in-out;
    transform: scale(1.02);
    filter: drop-shadow(1px 1px 4px grey);
}


/* Button Continue or Stop  */

.continueAnim{
    margin-top: 25%;
    position: absolute;
    font-family: 'Merriweather', serif;
    width : 10vw;
    min-width : 100px;
    height : 6vh;
    min-height : 33px;
    font-weight: 900;
    transition: all .2s ease-in-out;
    border-style: none;
    border-radius: 4px;
    filter: drop-shadow(1px 1px 4px grey);
    animation: scaleUpDown 3s infinite;
}

.continueAnim:hover{
    animation-play-state: paused;
    background-color: beige;
}

.playAgain{
    margin-top: 25%;
    position: absolute;
    font-family: 'Merriweather', serif;
    width : 10vw;
    min-width : 100px;
    height : 6vh;
    min-height : 33px;
    font-weight: 900;
    transition: all .2s ease-in-out;
    border-style: none;
    border-radius: 4px;
    filter: drop-shadow(1px 1px 4px grey);
    animation: scaleUpDown 3s infinite;
}

.playAgain:hover{
   animation-play-state: paused;
   background-color: beige;
}

.credits{
    position: absolute;
    bottom:1vh;
    right: 1vw;
    color: white;
    opacity: 0.5;
    font-size: 0.7rem;
}

#bg-video2{
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -9999;
}


/* Bonus */

.fifty{
    top: 3vh;
    right: 12vw;
}

.shuffle{
    top: 3vh;
    right: 7vw;
}

.skip {
    top: 3vh;
    right: 3vw;
}

.bonus {
    font-family:Arial, Helvetica, sans-serif;
    height: 5vh;
    border-radius: 100%;
    border-color: gold;
    background-color: beige;
    position: absolute;
    filter: drop-shadow(1px 1px 2px lightyellow);
}

.bonus:hover {
    scale: 1.1;
    border-color: #EB604D;
    background-color: orange;
    transition: all .2s ease-in-out;
    font-weight: 900;
    filter: drop-shadow(1px 1px 2px red);
}


/* Animations */

@keyframes opacityReveal { 
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
}

@keyframes scaleUpDown { 
    0% {
      scale: 1;
    }

    50% {
        scale: 1.2;
    }
  
    100% {
      scale: 1;
    }
}

@media only screen and (max-width: 600px) {
    #welcome {
      margin-bottom: 90%;
      text-align: center;
      font-size: 2rem;
    }
    #find{
        margin-bottom: 50%;
        text-align: center;
        font-size: 1.5rem;
    }
    #beware{
        margin-bottom: 15%;
        text-align: center;
    }
    
    .niveau{
        position: absolute;
        margin-bottom: -40%;
    }
    
    .diff{
        position: absolute;
        margin-bottom: -25%;
    }
    .enter_link{
        margin-top: 90%; 
    }
    .fifty{
        top: 3vh;
        right: 33vw;
    }
    
    .shuffle{
        top: 3vh;
        right: 17vw;
    }
    
    .skip {
        top: 3vh;
        right: 3vw;
    }
    #countryToGuess{
        font-size:2rem;
        margin-bottom: 55%;
        text-align: center;
    }
    
    #score{
        margin-bottom: 85%;
    }
    
    #highscore{
        margin-bottom: 99%;
    }
    .btn{
        min-width : 70px;
    }
    .btn2{
        min-width : 70px;
    }
    .btnLose{
        min-width : 70px;
    }
    .btnWin{
        min-width : 70px;
    }
    .continueAnim{
        margin-top: 80%;
        min-width : 100px;
    }

    .playAgain{
        margin-top: 80%;
        min-width : 100px;
    }
  }